* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.contain{
    padding: 60px 0;
    width: 90%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    margin: 20px;
}

.tittle{
    color: white;
    font-size: 30px;
    margin-left: 80px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
    position: relative;
}
.tittle h1{
    margin: auto;
    color: rgb(6, 7, 90);
    margin-bottom: 20px;
}
.sidebar img{
    text-align: center;
    object-fit: cover;
    height: 150px;
    width: 180px;
}
.foto{
    text-align: center;
    object-position: center;
    margin-bottom: 25px;
    color: white;
}
.foto img{
    border-radius: 120%;
}

.sidebar {
    margin-left: 50px;
    display: block;
    height: 150%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(21, 23, 90);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; 
    padding: 0px 150px;
    color: white;
    text-align: center;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.contain-tittle {
    color: white;
    margin-left: 90px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
} 
.bottomenu{
    margin: 50px;
    color:white;
    border:none;
    width: 100%;
    height: 6%;
    text-align: center;
    object-position: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.bottomenu{
    cursor: pointer;
    font-size: 1ren;
    padding: 1ren 3ren;
    margin: auto;
    transition: background-position 0.7s ease;
    background: linear-gradient(to right,  rgb(21, 23, 90) 50%, white 50%);
    background-size: 200%;
}

.bottomenu a:hover{
    color: rgb(21, 23, 90);
}

.bottomenu:hover{
    background: white;
    color: rgb(21, 23, 90);
}

.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook{
    background: #2E406E;
}

.icon-twitch{
    background: #6441a5;
}

.icon-instagram{
    background: #3f729b;
}

.icon-linkedin2{
    background: #3F60A5;
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 0 0 0 1rem;
}




